
  .tooltip {
    position: absolute;
    width: 135px;
    height: 75px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: #551aaf;
    border: 0;
    border-radius: 10px;
  }
  
  .axis-text {
    font-family: sans-serif;
    font-weight: bold;
    fill: #551aaf;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    fill: #000;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #e75480;
    cursor: pointer;
  }

  .line1 {
    fill: none;
    stroke-width: 2px;
  }
  
  .orange {
    stroke: orange;
  }
  
  .green {
    stroke: green;
  }

  .aquaIce {
    fill:rgb(93, 110, 110)
  }

/* Moe's Part Style/////////////////////////////////// */
body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    fill: #8C8C8C;
    text-align: center;
    /* background: #191919; #fcfcfa; #a9a9a9  #090909 */
}

.title {
    font-size: 26px;  /*28px*/
    fill: #C4C4C4; /*#4F4F4F;*/
    font-weight: 300;
    text-anchor: start;
}

.subtitle {
    font-size: 14px;
    fill: #AAAAAA;
    font-weight: 300;
    text-anchor: start;
}

.credit {
    font-size: 12px;
    fill: #AAAAAA;
    font-weight: 300;
    text-anchor: start;
}

.axis path,
.axis tick,
.axis line {
    fill: none;
    stroke: none;
    /*shape-rendering: crispEdges;*/
    shape-rendering: geometricPrecision;
    /*shape-rendering: auto;*/
}

.axis text {
    font-size: 12px;
    fill: #AAAAAA;
    font-weight: 400;
}

.legendTitle {
    font-size: 14px;
    fill: #AAAAAA;  /*#4F4F4F;*/
    font-weight: 300;
}

.january {
    font-size: 14px;
    text-anchor: start;
    font-weight: 300;
    fill: #AAAAAA;
}

.yearText {
    font-size: 18px;
    text-anchor: start;
    font-weight: 300;
    fill: #AAAAAA;
}

.yearLine {
    stroke: #AAAAAA;
}

.axisText {
    fill: #C4C4C4;
    font-size: 11px;
    font-weight: 300;
    text-anchor: middle;
}

.axisCircles {
    fill: none;
    stroke: #E8E8E8;
    stroke-width: 1.25px;  /* 1px */
    /*shape-rendering: geometricPrecision;*/
    /*shape-rendering: crispEdges;*/
    shape-rendering: auto;
}
.line2 {
    fill: none;
    /* stroke: red;  lightgreen; */
    stroke-width: 2.3px;  /*1.5px; 1.25px 2.5px 2.75*/
    /*shape-rendering: crispEdges;*/
    shape-rendering: geometricPrecision;
} */
.path {
    /*stroke: steelblue;*/
    fill: none;
    stroke-width: 3px;
}

.play {
    font: 500 35px sans-serif;  /* 40px */
    fill: #e5e5e5; 
    cursor: pointer;
}
.play:hover {
    fill: #ccc;
}
/* Drews Style///////////////////////// */
.div-spiral {
  background-color: #191919;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 250, 253);
}

.axis {
  font: 14px sans-serif;
}

.line3 {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
}

.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #000;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  width: 150px;
  height: 70px;
  padding: 10px;
  font: 12px sans-serif;
  text-align: left;
  color: rgb(255, 255, 255);
  background: rgb(65, 65, 65);
  border: 5px;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.axis-grid line {
  stroke: lightgrey;
}

p {
  text-align: center;
  font-size: 16px;
  /* Bold the text. */
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  color:royalblue ;
}

h3 {
  /* Put a 15-pixel margin at the top of all h2 headings. */
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 30px;
  text-align: Center;
}